http_interactions:
- request:
    method: GET
    uri: https://kctbh9vrtdwd.statuspage.io/api/v2/components.json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-statuspage-version: b27f95704d5835d5f1a3ccc341503d3f7f22f502
      x-statuspage-skip-logging: 'true'
      x-pollinator-metadata-service: status-page-web-pages
      etag: W/"81603fa0d180d761ce3b3c3c02d68741"
      atl-traceid: daa0d6503446464e9748ed3a8634ead0
      atl-request-id: daa0d650-3446-464e-9748-ed3a8634ead0
    body:
      string: '{"page":{"id":"kctbh9vrtdwd","name":"GitHub","url":"https://www.githubstatus.com","time_zone":"Etc/UTC","updated_at":"2025-09-09T10:00:59.457Z"},"components":[{"id":"8l4ygp009s5s","name":"Git
        Operations","status":"operational","created_at":"2017-01-31T20:05:05.370Z","updated_at":"2025-08-21T06:58:30.069Z","position":1,"description":"Performance
        of git clones, pulls, pushes, and associated operations","showcase":false,"start_date":null,"group_id":null,"page_id":"kctbh9vrtdwd","group":false,"only_show_if_degraded":false},{"id":"4230lsnqdsld","name":"Webhooks","status":"operational","created_at":"2019-11-13T18:00:24.256Z","updated_at":"2025-08-05T16:14:01.686Z","position":2,"description":"Real
        time HTTP callbacks of user-generated and system events","showcase":false,"start_date":null,"group_id":null,"page_id":"kctbh9vrtdwd","group":false,"only_show_if_degraded":false},{"id":"0l2p9nhqnxpd","name":"Visit
        www.githubstatus.com for more information","status":"operational","created_at":"2018-12-0[...]
