http_interactions:
- request:
    method: GET
    uri: https://api.github.com/organizations?since=1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7d13b0791a003b544850b14214712be6b98a0938d8fa17522fa74734b948d2c5"
      x-oauth-scopes: gist, read:discussion, read:enterprise, read:gpg_key, read:org,
        read:packages, read:public_key, read:repo_hook, repo, user, workflow
      x-accepted-oauth-scopes: ''
      github-authentication-token-expiration: 2025-09-17 08:06:41 UTC
      x-github-media-type: github.v3; format=json
      link: <https://api.github.com/organizations?since=3286>; rel="next", <https://api.github.com/organizations{?since}>;
        rel="first"
      x-github-api-version-selected: '2022-11-28'
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4998'
      x-ratelimit-reset: '1757417860'
      x-ratelimit-used: '2'
      x-ratelimit-resource: core
    body:
      string: |
        [
          {
            "login": "errfree",
            "id": 44,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjQ0",
            "url": "https://api.github.com/orgs/errfree",
            "repos_url": "https://api.github.com/orgs/errfree/repos",
            "events_url": "https://api.github.com/orgs/errfree/events",
            "hooks_url": "https://api.github.com/orgs/errfree/hooks",
            "issues_url": "https://api.github.com/orgs/errfree/issues",
            "members_url": "https://api.github.com/orgs/errfree/members{/member}",
            "public_members_url": "https://api.github.com/orgs/errfree/public_members{/member}",
            "avatar_url": "https://avatars.githubusercontent.com/u/44?v=4",
            "description": null
          },
          {
            "login": "engineyard",
            "id": 81,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjgx",
            "url": "https://api.github.com/orgs/engineyard",
            "repos_url": "https://api.github.com/orgs/engineyard/repos",
            "events_url": "https://api.github.com/orgs/engineyard/events",
            "hooks_url": "https://api.github.com/orgs/engineyard/hooks",
            "issues_url": "https://api.github.com/orgs/engineyard/issues",
    [...]
